
.mp-container {
	
}

.mp-container .title {
	margin-top: 25px;
	margin-bottom: 2px;
	color: #999;
	font-size: 13px;
	font-weight: 700;
}

.mp-container .content {
	color: #222;
	font-size: 14px;
	font-weight: 700;	
}

.window-container {
	display: none;
	align-items:center; 
	justify-content:center; 
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.4); 
	position: fixed; 
	top:0; 
	left:0;
}

.window-container > div{
	width: 500px;
	height: 650px; 
	background: #fff; 
	border-radius: 10px;	
	position: relative;
	padding: 10px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
}

.window-container .close-btn {
	cursor: pointer;
	font-size: 25px;
	position: absolute;
	top: 8px;
	right: 8px;
}

